html { height: 100%; }

body {
	margin: 0px;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	text-rendering: optimizeLegibility;
	background-image: url(../img/diagonal-noise.png); background-position: initial initial; background-repeat: initial initial;
	color: #555555;
  height: 100%;
}

.menu-home-image {
	padding: .1em .5em !important;
}

.menu-shadow {
	-webkit-box-shadow: 0px 5px 3px 0px rgba(50, 50, 50, 0.3) !important;
	-moz-box-shadow:    0px 5px 3px 0px rgba(50, 50, 50, 0.3) !important;
	box-shadow:         0px 5px 3px 0px rgba(50, 50, 50, 0.3) !important;
}

.ui.mini_gh.images .image,
.ui.mini_gh.images img,
.ui.mini_gh.images svg,
.ui.mini_gh.image {
  width: 60px;
  height: auto;
  font-size: 0.71428571rem;
}

.ui.tiny_gh.images .image,
.ui.tiny_gh.images img,
.ui.tiny_gh.images svg,
.ui.tiny_gh.image {
  width: 120px;
  height: auto;
  font-size: 0.71428571rem;
}

.green {
	color: #5bbd72;
}

.yellow {
	color: #f2c61f;
}

.orange {
	color: #e07b53;
}

.red {
	color: #d95c5c;
}

.console {
	background-color: #272822;
	color: #eee;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	height: 600px;
	overflow: auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: .9rem;
	}

#configEditor {
	right:5px;
    top:5px;
    margin-bottom:10px;
    position: inherit !important;
    height: inherit !important;
}
